<script>
Quack.logo = "<%= asset_path("quack-logo.png") %>"
$(document).ready(function(){
  if (!window.pusher) {
    Pusher.log = function(message) {
      console.log(message);
    };
    window.pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  }
  Quack.initialize();
});

</script>
<main id="main">

<% if session[:team_site_id] %>
  <section class="sidebar"></section>
<% else %>
  <section class="sidebar full"></section>
<% end %>

  <section class="content">

  <% if session[:team_site_id] %>
    <section class="conversation"></section>
  <% else  %>
    <section class="conversation none"></section>
  <% end %>

  </section>
  <section id="search">
    <ul class="search-messages"></ul>
  </section>

</main>

<div class="modal"></div>
