<script>
Quack.logo = "<%= asset_path("quack-logo.png") %>"
$(document).ready(function(){
  Quack.initialize();
});

</script>
<main id="main">
  <section class="sidebar">

  <div class="modal"></div>
  </section>
  <section class="content">
    <section class="conversation">

    </section>
    <section class="search"></section>
  </section>


</main>
