<h1 class="sign-inup-header">Sign In</h1>
<section class="sign-inup">
  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Username
      <input name="user[username]" type="text"><br>
    </label><br>
    <label>Password
      <input name="user[password]" type="password"><br>
    </label><br>
    <button>Sign In</button>
  </form>
</section>
  <p class="signup">Don't have a Quack account? <a href="<%= new_user_url %>">Sign up here!</a>
<br>
    <a href="/auth/google_oauth2">Sign in with Google</a>
<br>
    <a href="/auth/twitter">Sign in with Twitter</a>
<br>


    <p class="appacademy">
      for best results: login with password: password as with one of the following usernames:
      <ul class="appacademy">
        <li>hulk</li>
        <li>captain_america</li>
        <li>ericfirth</li>
        <li>black_widow</li>
        <li>iron_man</li>
        <li>scarlet_witch</li>
        <li>the_vision</li>
        <li>hawkeye</li>
      </ul>
    </p>
