<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-exit" viewBox="0 0 1024 1024">
	<title>exit</title>
	<path class="path1" d="M768 640v-128h-320v-128h320v-128l192 192zM704 576v256h-320v192l-384-192v-832h704v320h-64v-256h-512l256 128v576h256v-192z"></path>
</symbol>
</defs>
</svg>

<section class="sidebar-team">
  <strong><%= team.escape("name") %></strong>
</section>
<nav class="users-channels"></nav>

<section class="sidebar-user">
  <h1 class="sidebar-username"><%= Quack.currentUser.escape("username") %>
  <form class="logout" action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= authToken %>">
    <button class="logout-button"><svg class="icon icon-exit"><use xlink:href="#icon-exit"></use></svg><span class="mls"> </span></button>
  </form>
</h1>
</section>
