<% if (collection.numStars() > 0)  { %>

  <h1 class="sidebar-header">STARRED</h1>

<% } %>
<ul class="starred-list"></ul>

<h1 class="sidebar-header">CHANNELS
<strong class="add-channel">+</strong>
</h1>
<ul class="channels-list"></ul>

<h1 class="sidebar-header">DIRECT MESSAGES</h1>
<ul class="users-list"></ul>
