<ul>
  <figure class="avatar-show"><img src="<%= message.get("avatar_url") %>" alt="" /></figure>
  <li>Created at: <%= message.get("timestamp") %></li>
  <li>From: <strong><%= message.get("sender") %></strong></li>
  <li><%= message.get("text") %></li>
</ul>
