<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey buddy, its <%= @inviter.username.capitalize %>,</h1>
    <p>
      I made a Quack group called <%= @team_site.name %> where we can work and chat. It will be fun.
      You are invited and you should totally join. Or not. But be warned: if you don't
      the rest of us will talk about you on it.
    </p>
    <p>
      What's Quack
      you say? Never heard of it? Well, its like Slack, only its not, however
      it rhymes with Slack, which is very important.
    </p>
    <p>
      Join our site, just follow this link: <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p>Thanks, see you there!</p>
  </body>
</html>
