<form class="modal-form edit-avatar-form">

  <span class="modal-close js-modal-close">&times;</span>

  <label>Channel Name</label>
  <input type="text" name="channel[title]">

  <button class="new-channel">Save Changes</button>
    <span class="button-alternative">or <strong class="js-modal-close">Cancel</strong></span>

</form>
<div class="modal-screen js-modal-close"></div>
