<header class="header group">
  <div class="conversation-header">
    <button class="star"></button>
    <h1><strong>#</strong><%= channel.escape('title') %></h1>
  </div>

  <div class="search-header"></div>
</header>

<div class="full-convo-area group">
  <main class="main-conversation">
    <p class="before-channel hidden">
      Whew, that was a lot of scrolling. You've reached the beginning of this <%= channel.escape('title') %>.
    </p>
    <ul class="messages bottom">

    </ul>

  <footer class="footer message-add"></footer>

  </main>
  <section id="search">
    <ul class="search-messages"></ul>
  </section>
</div>
