<header class="header">
  <h1><strong>#</strong><%= channel.get('title') %></h1>
</header>

<main class="main-conversation">
  <ul class="messages"></ul>
</main>

<footer class="footer message-add"></footer>
