<header class="header">
  <h1><strong>@</strong><%= conversation.otherUser %></h1></h1>
</header>

<main class="main-conversation">
  <ul class="messages"></ul>
</main>

<footer class="footer message-add"></footer>
