<header class="header group">
  <div class="conversation-header">
    <button class="star"></button>
    <h1><strong>@</strong>

      <%= otherUser.escape('username') %>
    </h1>
  </div>

  <div class="search-header"></div>
</header>
<div class="full-convo-area group">
  <main class="main-conversation">
    <ul class="messages">
      <li class="avatar-message">
        <figure class="avatar-show first-message"><img src="<%= otherUser.get("avatar_url") %>"</figure>
      </li>
      <li class="first-message">
          This is the very beginning of your direct message history with
          <strong><%= otherUser.escape('username') %></strong>. Direct messages are private between the two of you.
          Sharing a private file here will not make it public, but it will allow <strong>
          <%= otherUser.escape('username') %></strong> to see it.
      </li>

    </ul>

  <footer class="footer message-add"></footer>

  </main>
  <section id="search">
    <ul class="search-messages"></ul>
  </section>
</div>
