<h1>Welcome <%= Quack.currentUser.escape("username") %>! First, pick a team:</h1>

<form>
  <select class="team-select">
    <option value="" disabled selected>Select A Team!</option>
  <% teamSites.forEach(function(teamSite) { %>
    <option value="<%= teamSite.get("id") %>"><%= teamSite.get("name") %></option>
    <% }) %>
    <option value="new">Create A New Team Site</option>
  </select>
</form>

<form class="logout" action="/session" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= authToken %>">
  <button>Log Out</button>
</form>
