<form class="modal-form edit-avatar-form team-site-index-modal">

<figure class="index-logo"><img src="<%= Quack.logo %>" alt="Quack Logo" /> </figure>

<h1>Welcome to Quack, <%= Quack.currentUser.escape("username") %>!</h1>
<form class="team-site-index">
  <label>
    <span class="custom-dropdown custom-dropdown--white">
      <select class="team-select custom-dropdown__select custom-dropdown__select--white">
        <option value="" disabled selected>First, select your team!</option>
      <% teamSites.forEach(function(teamSite) { %>
        <option value="<%= teamSite.get("id") %>"><%= teamSite.get("name") %></option>
        <% }) %>
        <option value="new">Create A New Team Site</option>
      </select>
    </span>
  </label>

</form>
  
