/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "icomoon"

 /*
 HTML RESET & BASICS
 */



 html, h1, label, form, p, ul, li, div, body, main, section, a, button, figure, input, aside, select {
   margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none;
   font: inherit;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   color: inherit;
 }

 ol, ul {
   list-style: none;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 html, body {
   height: 100%;
   overflow: hidden;
 }


 body {
   font-family: 'Open Sans', sans-serif;
   position: relative;
 }

 img {
   display: block;
   height: relative;
   width: 100%;
 }

/*
Team Site Show - Sidebar

COLORS:
off-white text - #FCF9EC
darker grey text - #B7B5AE
dark maroon - #790002
lighter maroon - #8A2A1E
highlight blue green - #00BCCC
*/

.sidebar {
  float: left;
  background: #8A2A1E;
  width: 240px;
  color: #FCF9EC;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width .5s;
  // overflow: auto;
}


.sidebar.full {
  width:100%;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 240px;
  overflow: auto;
  transition: left .5s;
}

.content.none {
  left:100%
}

.sidebar strong, .sidebar-username {
  font-size: 16px;
  font-weight: 700;
}

.sidebar li {
  padding: 5px 20px;
  font-weight: 300;
  font-style: italic;
  margin-right: 20px;
}

.sidebar li.selected {
  background: #00BCCC;
  margin-right:0;
}

.sidebar li.selected:hover {
  cursor: default;
  border-radius: 0;
  margin-right:0;
  background: #00BCCC;
  // color:
}

.sidebar li:hover {
  background: #790002;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.sidebar-team, .sidebar-user {
  padding: 20px;
  background: #790002;
  position: absolute;
  width: 200px;
  // height: 50px;
  // width: 300px;
}

.sidebar-team {
  top: 0;
  height: 23px;
}

.sidebar-user {
  bottom: 0;
  height: 50px;
}

.users-channels {
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 62px;
  bottom: 90px;
  width: 100%;
  overflow: auto;
}

.add-channel {
  display: block;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 700;
  float: right;
  border: 1px solid #B7B5AE;
  padding: 0px 6px;
  border-radius: 50%;
}

.add-channel:hover {
  border: 1px solid #790002;
  cursor: pointer;
  color: #790002;
  background: #FCF9EC;
}

.sidebar-team {
  top: 0;
}

.users-list:last-child {
  margin-bottom: 30px;
}

.sidebar-header {
  margin: 20px 0 5px 0;
  padding: 5px 20px;
  color: #B7B5AE;
  // font-size: 12px;
}

.users-list > .starred, .channels-list > .starred {
  display: none;
}

.starred-list > li {
  display: none;
}

.starred-list > .starred {
  display: block
}

.invisible {
  display: none;
}

.icon {
	width: 25px;
	height: 25px;
	fill: currentColor;
  padding: 10px;
}

.icon:hover {
  fill: currentColor;
}

.logout-button {
  font-size: 30px;
  position: relative;
  z-index: 3;
}

.logout-button:hover {
  cursor: pointer;
  color: #00BCCC;
}

.sidebar-username {
  // padding: 0 10px 10px 0;
}

.sidebar-username:hover {
  cursor: pointer;
  color: #00BCCC;

}

.edit-avatar-form {
  color: black;
}

/*
Team Site Show - Conversation
*/

.message-show {
  margin: 20px;
}

.message-information {
  float: left;
  width: calc(100% - 105px);
}

.message-file-link {
  color: #00BCCC;
  font-style: italic;
}


.avatar-show {
  float: left;
  display: block;
  // border: 1px solid black;
  width: 50px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-avatar {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.closed {
  display: none;
}

.team-menu-icon {
  font-size: 24px;
  float: right;
  display: block;
  padding: 0 0 10px 10px;
}

.team-menu-icon:hover {
  cursor: pointer;
  color: #00BCCC;
}

.team-menu {
  position: absolute;
  background: white;
  color: #00BCCC;
  right: 20px;
  margin-right: 0;
}

.invite {
  margin-right: 0;
}

.invite:hover {
  margin-right: 0;
  background: #00BCCC;

  color: white;
  border-radius:0;
}

.team-menu:hover .invite:hover, .team-menu:hover {
  background: #00BCCC;

  color: white;
  border-radius:0;
  // margin-right:0;
}

/*
CHANNEL SHOW
colors:

*/

.header {
  background: #D1E6F6;
  padding: 10px 0 15px 0px;
  position: absolute;
  top: 0;
  height: 37px;
  right: 0;
  left: 240px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.star {
  display: block;
  float: left;
  font-size: 30px;
  padding: 0 10px;

}

.star:hover {
  cursor: pointer;
}

.star i:hover {
  cursor: pointer;
  color: yellow;
}


.header h1 {
  padding-top: 10px;
  font-size: 22px;
  font-family: 'Merriweather', serif;
  font-style: italic;

}

.header h1 > strong {
  font-weight: 300;
  padding-right: 5px;
}

.messages {
  position: absolute;
  left: 0;
  right: 0;
  // bottom: 0;
}

.messages.bottom {
  bottom: 0;
}

.messages.hidden {
  display:none;
}

.main-conversation {
  position: absolute;
  overflow: auto;
  overflow-x: hidden;

  top: 62px;
  bottom: 90px;
  // padding: 10px 20px;
  left: 0;
  right: 0;
}

.main-conversation.search-on {
  right: 400px;
}

.footer.search-on {
  right: 410px;
}

#search.visible {
  position: absolute;
  width: 400px;
  overflow: auto;
  height: 100%;
  top: 62px;
  right: 0;
  border-left: 10px solid #ccc;
}

.close-search {
  position: fixed;
  cursor: pointer;
  right: 0;
  display: block;
}
.close-search:before {
  content: "x";
  font-size: 30px;
  padding: 10px;
  background: #8A2A1E;
  display: block;
  color: #FCF9EC;
  opacity: .75;
  display: block;
  left: 200px;;
  overflow: hidden;
}

.close-search:hover:before {
  opacity: 1;
}

.message-form {
  padding: 15px;
}

.message-input {
  height: 54px;
  // min-width: 300px;
  // border-radius: 0px 10px 10px 0;
  float: left;
  width: calc(100% - 60px);
  background: white;
  border: 1px solid #ccc;
}
.conversation-header {
  float: left;
  width: calc(100% - 200px);
}

.search-header {
  display: block;
  float: right;
  margin: -33px 20px;
}

.search-input {
  background: white;
  padding: 5px;
  border-radius: 15px;
  padding-left: 10px;
}

.search-input:focus {
  outline: 0;
}

.file-attachment {
  float: left;
  width: 58px;
  height: 54px;
  display: block;
  // padding: 10px;

}

.file-attachment::-webkit-file-upload-button {
  visibility: hidden;
}
.file-attachment::before {
  content: "↑";
  display: block;
  // width: 58px;
  background: #ccc;
  // border: 1px solid #999;
  border-radius: 20px 0px 0px 20px;
  padding: 12px 22px;
  // outline: none;
  // white-space: nowrap;
  // -webkit-user-select: none;
  // cursor: pointer;
  // text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 24px;
}
.file-attachment:hover::before {
  background: #00BCCC;
  color: white;
  // border-color: black;
}

.file-attachment:focus {
  outline: 0;
}
.file-attachment:active::before {
  // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



.message-input:focus {
  outline: 3px solid #00BCCC;
  // outline-radius: 0px 10px 10px 0;
}

.footer {
  background: #eee;
  position: fixed;
  bottom: 0;
  left:240px;
  right:0;
  height: 90px;
  overflow: hidden;
}



 /*
 User/Session new page
 */

 .sign-inup-header {
   font-size: 36px;
   text-align:  center;
   margin: 30px;
 }

 .sign-inup {
   display: block;
   background: #C39A6B;
   margin: 20px auto;
   width: 400px;
   color: white;
   padding: 20px;
   border-radius: 10px;
 }

 .sign-inup label {
   margin-top: 5px;
   font-weight: 300;
   font-size: 24px;
   display: block;
   margin: auto;
   text-align: center;
 }

 .sign-inup input {
   display: block;
   width: 75%;
   margin: auto;
 }

 .sign-inup button {
   display: block;
   margin: auto;
 }

 .signup {
   text-align: center;
 }

 .appacademy {
   text-align: center;
   font-size: 12px;
 }

 .hidden {
   display: none;
 }

 .date {
   display: block;
   margin: auto;
   text-align: center;
 }

 .message-show {
   color: #444;
 }

 .message-show:hover {
   color: black;
 }

 .team-site-index {
   background: green;
 }

 .team-site-index-modal > h1 {
   font-size: 36px;
   color: white;
   text-align: center;
   padding-top: 10px;
 }

 .team-site-index-modal > label {
   display: block;
   font-size: 24px;
   padding: 20px;
   text-align: center;
   color: #790002;
 }

 .team-site-index-modal {
   background: #00BCCC;
   border: 3px solid white;
 }

 .index-logo {
   width: 150px;
   margin: auto;
 }

 .team-select:focus {
   outline: 0;
 }


.custom-dropdown__select{
    font-size: 16px; /* inherit size from .custom-dropdown */
    margin-top: 10px;
    padding: 10px; /* add some space*/
    margin: 0; /* remove default margins */
    font-weight: 300;
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: white;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 6.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #8A2A1E;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 6px;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1px;
        font-size: 18px;
        line-height: 1;
        right: 8px;
        top: 50%;
        margin-top: -8px;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 35px;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        background-color: #790002;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(255,255,255,.6);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}

.log-out-index {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin: auto;
  font-weight: 300;
  color: #790002;
  background: #FCF9EC;
  border: 2px solid #790002;
  border-radius: 10px;
}


.log-out-index:hover {
  color: #FCF9EC;
  background: #790002;
  border: 2px solid #FCF9EC;

}
