/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "icomoon"

 /*
 HTML RESET & BASICS
 */



 html, h1, label, form, p, ul, li, div, body, main, section, a, button, figure, input {
   margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none;
   font: inherit;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   color: inherit;
 }

 ol, ul {
   list-style: none;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 html, body {
   height: 100%;
   overflow: hidden;
 }


 body {
   font-family: 'Open Sans', sans-serif;
   position: relative;
 }

 img {
   display: block;
   height: relative;
   width: 100%;
 }

/*
Team Site Show - Sidebar

COLORS:
off-white text - #FCF9EC
darker grey text - #B7B5AE
dark maroon - #790002
lighter maroon - #8A2A1E
highlight blue green - #00BCCC
*/

.sidebar {
  float: left;
  background: #8A2A1E;
  width: 240px;
  color: #FCF9EC;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 240px;
  overflow: auto;
}

.sidebar strong, .sidebar-username {
  font-size: 16px;
  font-weight: 700;
}

.sidebar li {
  padding: 5px 20px;
  font-weight: 300;
  font-style: italic;
}

.sidebar li.selected {
  background: #00BCCC;
}

.sidebar li.selected:hover {
  cursor: default;
  border-radius: 0;
  margin-right:0;
  background: #00BCCC;
  // color:
}

.sidebar li:hover {
  background: #790002;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.sidebar-team, .sidebar-user {
  padding: 20px;
  background: #790002;
  position: absolute;
  width: 200px;
  // height: 50px;
  // width: 300px;
}

.sidebar-team {
  top: 0;
}

.sidebar-user {
  bottom: 0;
  height: 50px;
}

.users-channels {
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 62px;
  bottom: 69px;
  overflow: auto;
}

.add-channel {
  display: block;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 700;
  float: right;
  border: 1px solid #B7B5AE;
  padding: 0px 6px;
  border-radius: 50%;
}

.add-channel:hover {
  border: 1px solid #790002;
  cursor: pointer;
  color: #790002;
  background: #FCF9EC;
}

.sidebar-team {
  top: 0;
}

.users-list:last-child {
  margin-bottom: 30px;
}

.sidebar-header {
  margin: 20px 0 5px 0;
  padding: 5px 20px;
  color: #B7B5AE;
  // font-size: 12px;
}


.icon {
	width: 25px;
	height: 25px;
	fill: currentColor;
  padding: 10px;
}

.icon:hover {
  fill: currentColor;
}

.logout-button {
  font-size: 20px;
  position: relative;
  z-index: 3;
}

.logout-button:hover {
  cursor: pointer;
  color: #790002;
  background: #FCF9EC;
  padding: 0 4px;
  margin: 0 -4px 0 0;
  border-radius: 50%;
}

.sidebar-username {
  // padding: 0 10px 10px 0;
}

.sidebar-username:hover {
  cursor: pointer;
}

.edit-avatar-form {
  color: black;
}

/*
Team Site Show - Conversation
*/

.message-show {
  margin: 20px;
}

.avatar-show {
  float: left;
  display: block;
  // border: 1px solid black;
  width: 50px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-avatar {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

}


/*
CHANNEL SHOW
colors:

*/

.header {
  background: #eee;
  padding: 10px 20px 15px 20px;
  position: absolute;
  top: 0;
  height: 37px;
  width: 100%;
}

.content {
}

.header h1 {
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-style: italic;

}

.header h1 > strong {
  font-weight: 300;
  padding-right: 5px;
}

.main-conversation {
  position: absolute;
  overflow: auto;
  top: 62px;
  bottom: 69px;
  padding: 10px 20px;
  width: 100%;
}

.message-form {
  padding: 15px;
}

.message-input {
  height: 54px;
  // min-width: 300px;
  float: left;
  width: calc(100% - 60px);
  background: white;
  border: 1px solid #ccc;
}
.file-attachment {
  float: left;
  width: 58px;
  height: 54px;
  display: block;
  // padding: 10px;

}

.file-attachment::-webkit-file-upload-button {
  visibility: hidden;
}
.file-attachment::before {
  content: "↑";
  display: block;
  // width: 58px;
  background: #ccc;
  // border: 1px solid #999;
  border-radius: 3px;
  padding: 12px 22px;
  // outline: none;
  // white-space: nowrap;
  // -webkit-user-select: none;
  // cursor: pointer;
  // text-shadow: 1px 1px #fff;
  // font-weight: 700;
  font-size: 24px;
}
.file-attachment:hover::before {
  background: #00BCCC;
  color: white;
  // border-color: black;
}

.file-attachment:focus {
  outline: 0;
}
.file-attachment:active::before {
  // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



.message-input:focus {
  outline: 3px solid #00BCCC;
}

.footer {
  width: 100%;
  background: #eee;
  position: absolute;
  bottom: 0;
  height: 90px;
  overflow: hidden;
}


 /*
 User/Session new page
 */

 .sign-inup-header {
   font-size: 36px;
   text-align:  center;
   margin: 30px;
 }

 .sign-inup {
   display: block;
   background: #C39A6B;
   margin: 20px auto;
   width: 400px;
   color: white;
   padding: 20px;
   border-radius: 10px;
 }

 .sign-inup label {
   margin-top: 5px;
   font-weight: 300;
   font-size: 24px;
   display: block;
   margin: auto;
   text-align: center;
 }

 .sign-inup input {
   display: block;
   width: 75%;
   margin: auto;
 }

 .sign-inup button {
   display: block;
   margin: auto;
 }

 .signup {
   text-align: center;
 }

 .appacademy {
   text-align: center;
   font-size: 12px;
 }
