::-webkit-scrollbar {
  width: 10px;
  opacity: .3;
  position: relative;;
  z-index: 100;

}

::-webkit-scrollbar-button {

}

::-webkit-scrollbar-track {
  background-color: rgba(192,192,192,0.1);
  // border-radius: 10px;

}

::-webkit-scrollbar-track-piece {

}

::-webkit-scrollbar-thumb {
  background-color: rgba(192,192,192,0.3);
  // border-radius: 5px;
}

::-webkit-scrollbar-corner {

}

::-webkit-resizer {

}
