.splash-header {
  background: #D1E6F6;
  padding: 20px;
}

.splash-main {
  height: 100%;

  position: relative;
}

.splash-logo {
  width: 150px;
  margin: auto;
}

.splash-content {
  position: relative;
}

.splash-image {
  display: block;
  width:100%;
  position: absolute;
  opacity: .8;
  background-image: image-url("office-gradient.jpg");
  background-repeat: no-repeat;
  // backgroun
}

.splash-tag-line {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: white;
  text-align: center;
  margin: 20px;
  opacity: 1;
}

.splash-tag-line strong {
  font-weight: 900;
  font-style: italic;
}

.session-forms {
  display: block;
  padding-top: 30px;
  // width: 700px;
  // margin: auto;
}

.sign-in {
  background: rgba(255,255,255,.5);
  width: 300px;
  height: 375px;
  position: relative;
}

.new {
  float: right;
  margin-right: 100px;
}

.existing {
  float: left;
  margin-left: 100px;
}


.form-header {
  padding-top: 10px;
  font-size: 16px;
  font-style: italic;
}
.form-header strong {
  display: block;
  font-size: 36px;
  color: #790002;
  padding-bottom: 10px;
  text-align:center;
}

.sign-in label {
  text-align: center;
  display: block;
  margin: auto;
}


.sign-in input {
  width: calc(100% - 20px);
  display: block;
  font-size: 20px;
  background: rgba(255,255,255,0);
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.sign-in input:hover {
  background: rgba(255,255,255,.3);
}

.sign-in input:focus {
  background: rgba(255,255,255,1);
  outline: 0;
}

.sign-in-button {
  background: #00BCCC;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 25px;
  left: 110px;
  border-bottom: 4px solid #085151;
  border-radius: 10px;
  margin: auto;
  display: block;
  cursor: pointer;
}

.sign-in-button:hover {
  border-bottom: 2px solid #085151;
}

.google-auth {
  display: block;
  width: 200px;
  margin: 50px auto;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,.3);
}

.google-auth:hover {
  background: rgba(255,255,255,.6);
  color: black;
}
